h2 {
  font-family: var(--main-font);
  // font-size: 36px;
  font-size: 3.2vw;
  font-weight: 400px;
  line-height: 43.88px;
  border: 0.5px;
}

.main {
  width: 80%;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  overflow-x: hidden;
  padding: 5rem 0;
}

.contentWrapper {
  border-left: 2px solid #14274a;
  padding-left: 10px;
  margin-left: 10px;
}

.main .imgWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}

.main .imgWrapper:hover img {
  transform: scale(1.25);
}

.main .contentWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
}

.main .contentWrapper span.textWrapper {
  font-family: var(--main-font);
  display: block;
  // font-size: 60px;
  font-size: 3.5vw;
  text-transform: capitalize;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.main .contentWrapper p {
  font-family: var(--main-font);
  // font-size: 25px;
  font-size: 2vw;
  line-height: 24.38px;
  padding-bottom: 25px;
}

.main .contentWrapper a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  background: var(--button-color);
  color: white;
  padding: 15px 40px;
  letter-spacing: 1px;
  user-select: none;
  border-radius: 8px;
}

@media (max-width: 865px) {
  .main {
    grid-template-columns: 1fr;
    grid-gap: 50px;
  }

  .main .contentWrapper {
    padding-left: 0;
  }

  .contentWrapper {
    border-left: hidden;
  }
}
