@import "./variables.scss";
@import "./header.scss";
@import "./all_our_room.scss";
@import "./testimonials.scss";
@import "./footer.scss";
@import "./rooms_and_rates.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
}
