@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --main-font: "Montserrat", sans-serif;
  --secondary-font: "Roboto", sans-serif;
  --primary-color: #e5e5e5;
  --background-color: #fff;
  --text-color: #14274a;
  --button-color: #e0b973;
}

body {
  font-family: var(--main-font);
  background-color: var(--background-color);
  color: var(--text-color);
}

.a {
  color: #fff;
}

.header {
  margin: 0 auto;
  background-color: black;
  width: 100%;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header_welcometo {
  font-family: var(--main-font);
  font-size: 50px;
  font-weight: 400;
  color: #fff;
}

.header_luxury {
  font-family: var(--secondary-font);
  font-size: 154px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.07em;
}

.hotels {
  font-family: var(--secondary-font);
  font-size: 60px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.4em;
}

.book_your_stay {
  font-family: var(--main-font);
  font-size: 25px;
  font-weight: 400;
  color: #fff;
}

.header_booknow_wrap_button {
  background-color: var(--button-color);
  border: none;
  border-radius: 1px;
  width: 268px;
  height: 78px;
}

.header_booknow_img {
  width: 203px;
  height: 29px;
}

.nav_link {
  font-family: var(--main-font);
  font-size: 25px;
  font-weight: 400;
  color: white;
  text-decoration: none;
}

.header_logo_img {
  width: 256px;
  height: 149px;
}

.all_our_room {
  margin: 5% auto;
}

h2 {
  margin: 0 auto;
  font-family: var(--main-font);
  font-size: 3vw;
  font-weight: 400px;
  text-align: center;
  line-height: 43.88px;
  border: 0.5px;
}

.main {
  margin: 0 auto;
  padding: 2.5%;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  overflow-x: hidden;
}

.contentWrapper {
  border-left: 2px solid #14274A;
  padding-left: 10px;
}

.main .imgWrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main .imgWrapper:hover img {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.main .contentWrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .contentWrapper span.textWrapper {
  font-family: var(--main-font);
  display: block;
  font-size: 3.2vw;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.main .contentWrapper p {
  font-family: var(--main-font);
  font-size: 2vw;
  line-height: 1, 5;
  padding-bottom: 25px;
}

.main .contentWrapper a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  background: var(--button-color);
  color: white;
  padding: 15px 40px;
  letter-spacing: 1px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 8px;
}

.main .contentWrapper a:hover {
  color: red;
}

@media (max-width: 865px) {
  .main {
    grid-template-columns: 1fr;
    grid-gap: 50px;
  }
  .contentWrapper {
    border-left: hidden;
  }
  .main .contentWrapper a {
    font-size: 2vw;
  }
}
.testimonials {
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
  margin-bottom: 40px;
}

.testimonials_title {
  font-size: calc(20px + 34 * (100vw - 320px) / 1600);
  font-weight: 700;
  margin: 0;
}

.testimonials_quote {
  font-size: calc(18px + 30.6 * (100vw - 320px) / 1600);
  font-weight: 400px;
  margin-top: 8px;
  margin-bottom: 0;
}

.testimonials_names {
  font-size: calc(16px + 27.2 * (100vw - 320px) / 1600);
  font-weight: 400px;
  margin: 8px;
}

.testimonials_btn {
  background-color: var(--button-color);
  color: white;
  padding: 16px 24px;
  border-radius: 2px;
  text-decoration: none;
  margin: 5px;
}

.testimonials_btn:hover {
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.7);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.7);
}

.testimonials_previous-next {
  margin-top: 32px;
}

footer {
  background-image: url(../../assets/pictures/footer_background.png);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 321px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.items_wrapper {
  display: grid;
  width: 85%;
  height: 70%;
  grid-template-columns: 35% 20% 20% 25%;
  grid-template-rows: repeat(4, 25%);
}

.footer a {
  color: #fff;
  text-decoration: none;
  margin: 5px;
  display: inline-block;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: rgba(255, 255, 255, 0.8);
}

.item_1 {
  grid-column: 1/2;
  grid-row: 2/3;
}

.item_2 {
  grid-column: 1/2;
  grid-row: 3/5;
  padding-right: 270px;
  font-size: 14px;
}

.item_3 {
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: start;
}

.item_4 {
  grid-column: 2/3;
  grid-row: 3/4;
  align-self: start;
}

.item_5 {
  grid-column: 2/3;
  grid-row: 4/5;
  align-self: start;
}

.item_6 {
  grid-column: 3/4;
  grid-row: 2/3;
  align-self: start;
}

.item_7 {
  grid-column: 3/4;
  grid-row: 3/4;
  align-self: start;
}

.item_8 {
  grid-column: 3/4;
  grid-row: 4/5;
  align-self: start;
}

.item_9 {
  grid-column: 4/5;
  grid-row: 2/3;
  align-self: start;
}

.item_10 {
  grid-column: 4/5;
  grid-row: 3/4;
  align-self: start;
}

.email-form input {
  padding: 10px;
  border: 2px solid #e0b973;
  border-radius: 4px;
  font-size: 1rem;
  width: 200px;
  color: var(--text-color);
  background-color: #14274a;
}

.email-form button {
  padding: 10px 20px;
  border: 2px solid #e0b973;
  border-radius: 4px;
  background-color: #e0b973;
  color: #14274a;
  font-size: 1rem;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.email-form button:hover {
  background-color: #b89742;
  color: #fff;
}

/* Tablet layout */
@media (max-width: 1024px) {
  .items_wrapper {
    grid-template-columns: 40% 30% 30%;
    grid-template-rows: repeat(4, auto);
  }
  .item_1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .item_2 {
    grid-column: 1/2;
    grid-row: 2/3;
    padding-right: 0;
  }
  .item_3 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .item_4 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .item_5 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .item_6 {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .item_7 {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .item_8 {
    grid-column: 3/4;
    grid-row: 3/4;
  }
  .item_9 {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .item_10 {
    grid-column: 2/4;
    grid-row: 5/6;
  }
}
/* Mobile layout */
@media (max-width: 768px) {
  .items_wrapper {
    grid-template-columns: 40% 30% 30%;
    grid-template-rows: repeat(4, auto);
    font-size: 10px;
  }
  .item_1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .item_2 {
    grid-column: 1/2;
    grid-row: 2/3;
    padding-right: 0;
    font-size: 10px;
  }
  .item_3 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .item_4 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .item_5 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .item_6 {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .item_7 {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .item_8 {
    grid-column: 3/4;
    grid-row: 3/4;
  }
  .item_9 {
    grid-column: 1/2;
    grid-row: 4/5;
    justify-self: flex-start;
    padding-top: 0px;
  }
  .item_10 {
    grid-column: 2/4;
    grid-row: 4/5;
    justify-self: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .email-form input {
    padding: 3px;
    font-size: 0.6rem;
    width: 100px;
  }
  .email-form button {
    padding: 5px 10px;
    font-size: 0.6rem;
  }
}
* {
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 1604px;
}

.rooms-and-rates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.rooms-and-rates_title_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.rooms-and-rates_title {
  width: 100%;
  font-weight: 700;
  font-size: calc(25px + 34 * (100vw - 320px) / 1600);
  text-align: center;
  color: var(--text-color);
  text-transform: uppercase;
}

.rooms-and-rates_text {
  max-width: 1305px;
  font-weight: 400;
  font-size: calc(16px + 8.5 * (100vw - 320px) / 1600);
  text-align: center;
  color: var(--text-color);
  margin: 20px 30px auto;
}

.rooms-and-rates_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0;
  max-width: 1600px;
  margin-top: 10px;
}

.wrapper_picture {
  left: 0;
  top: 0;
  width: 100%;
  margin-top: 20px;
}

.rooms-and-rates_wrapper_title {
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: calc(16px + 27.2 * (100vw - 320px) / 1600);
  color: #fff;
  background-color: var(--text-color);
  text-transform: uppercase;
  padding: 14px;
}

.rooms-and-rates_wrapper_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
  border: 1px solid #14274a;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.view_details {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button_view_details {
  position: relative;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: var(--button-color);
  cursor: pointer;
  border: none;
  margin: 1em;
}

.button_view_details::after {
  font-size: 50px;
  content: "+";
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.button_view_details:hover {
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.7);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.7);
}

.rooms-and-rates_wrapper_link {
  text-decoration: none;
  font-weight: 700;
  font-size: calc(12px + 20.4 * (100vw - 320px) / 1600);
  text-align: center;
  color: var(--text-color);
  text-transform: uppercase;
}

.rooms-and-rates_wrapper_link:hover {
  color: darkblue;
}

.button_price {
  padding: 10px;
  border-radius: 7px;
  background-color: var(--button-color);
  color: #fff;
  font-size: calc(12px + 20.4 * (100vw - 320px) / 1600);
  margin: 40px;
  cursor: pointer;
  border: none;
}

.button_price:hover {
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.7);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.7);
  color: var(--text-color);
}

.wrapper_picture {
  left: 0;
  top: 0;
  width: 100%;
  margin-top: 20px;
}

* {
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
}/*# sourceMappingURL=index.css.map */