@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --main-font: "Montserrat", sans-serif;
  --secondary-font: "Roboto", sans-serif;
  --primary-color: #e5e5e5;
  --background-color: #fff;
  --text-color: #14274a;
  --button-color: #e0b973;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--main-font);
  background-color: var(--background-color);
  color: var(--text-color);
}
.a {
  color: #fff;
}

//media sizes
$phone-size: 430px;
$tablet-size: 768px;
